
@model IEnumerable<E_Book_System.Areas.Identity.Data.E_Book_SystemUser>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Customers Details</h3>
        <br />
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                All Books Details
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Customer Address</th>
                            <th>Customer Mobile</th>


                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Customer Address</th>
                            <th>Customer Mobile</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var customer in Model)
                            {

                                <tr>
                                    <td>@customer.FullName</td>
                                    <td>@customer.Email</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.PhoneNumber</td>
                                </tr>
                            }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
