@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            @*<ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>*@
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center">This Month Orders</div>
                        <div class="card-footer align-items-center justify-content-between">
                            <div style=" font-size: x-large;" class="text-center text-white">10</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center">Active Orders</div>
                        <div class="card-footer align-items-center justify-content-between">
                            <div style=" font-size: x-large;" class="text-center text-white">10</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center">Total Customers</div>
                        <div class="card-footer align-items-center justify-content-between">
                            <div style=" font-size: x-large;" class="text-center text-white">10</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center">Books Count</div>
                        <div class="card-footer align-items-center justify-content-between">
                            <div style=" font-size: x-large;" class="text-center text-white">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                          Monthly Sales Report
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
               
            </div>
        </div>
    </main>
 